<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <springProperty scope="context" name="serviceName" source="spring.application.name"/>
    <property name="logfile" value="/var/log/spring-cloud-demo/${serviceName}/${serviceName}.log"/>​
    <property name="stashHost" value="192.168.1.88"/>​
    <property name="stashPort" value="4560"/>​

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logfile}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logfile}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>${stashHost}</host>
        <port>${stashPort}</port>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    ​
    <springProfile name="development">
        <logger name="com.gavin" level="DEBUG">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STASH"/>
        </logger>

        <logger name="org.springframework" level="INFO"/>
    </springProfile>

    <logger name="com.gavin" level="DEBUG"/>

    <logger name="org.hibernate" level="ERROR"/>

</configuration>