<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <springProperty scope="context" name="service" source="spring.application.name"/>
    <springProperty scope="context" name="env" source="spring.profiles"/>

    <property name="logfile" value="/opt/log/stash/${service}/${service}"/>​

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logfile}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>
                {
                "env": "${env:-}"
                }
            </customFields>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logfile}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
    ​
    <springProfile name="development">
        <logger name="com.gavin" level="debug">
            <appender-ref ref="console"/>
            <appender-ref ref="logstash"/>
        </logger>

        <logger name="org.springframework" level="info"/>
    </springProfile>

    <logger name="com.gavin" level="debug"/>

    <logger name="org.hibernate" level="error"/>

</configuration>